@model LoanModel

<div  class="card rounded-3 me-1g-n5 border p-3 mt-4 glassBackground">
    <div class="row pb-2">
        <h3 class="text-black"> Welcome to Your Home details Page</h3>
        <h5 class="text-black-50">Hi there. I am Loaner, Your home loan digital assistance :D, Here are your Home loan details</h5>
        <hr />
    </div>

    <!--add Validations here-->
    <dl class="row">
    <dt class="col-sm-2 text-black">
        @Html.DisplayNameFor(Model => Model.Name)
    </dt>
    <dd class="col-sm-10 text-black-50">
        @Html.DisplayFor(Model=> Model.Name)
    </dd>
    <dt class="col-sm-2 text-black">
        @Html.DisplayNameFor(Model => Model.Surname)
    </dt>
    <dd class="col-sm-10 text-black-50">
        @Html.DisplayFor(Model=> Model.Surname)
    </dd>
    <!--Gross Salary-->
    <dt class="col-sm-2 text-black">
        @Html.DisplayNameFor(Model => Model.GrossSalary)
    </dt>
    <dd class="col-sm-10 text-black-50">
        R @Html.DisplayFor(Model=> Model.GrossSalary)
    </dd>
    <!--Credit score-->
    <dt class="col-sm-2 text-black">
        @Html.DisplayNameFor(Model => Model.CreditScore)
    </dt>
    <dd class="col-sm-10 text-black-50">
        @Html.DisplayFor(Model=> Model.CreditScore)
    </dd>
    <!--Granted Loan -->
    <dt class="col-sm-2 text-black">
        @Html.DisplayNameFor(Model => Model.LoanGranted)
    </dt>
    <dd class="col-sm-10 text-black-50">
            @Html.DisplayFor(Model=> Model.LoanGranted) %
    </dd>

    <!--price of property-->
    <dt class="col-sm-2 text-black">
        @Html.DisplayNameFor(Model => Model.PriceOfProperty)
    </dt>
    <dd class="col-sm-10 text-black-50">
        R @Html.DisplayFor(Model=> Model.PriceOfProperty)
    </dd>
    <!--loan status-->
    <dt class="col-sm-2 text-black">
        @Html.DisplayNameFor(Model => Model.LoanStatus)
    </dt>
    <dd class="col-sm-10 text-black-50">
        @Html.DisplayFor(Model=> Model.LoanStatus)
    </dd>
</dl>
    <a asp-controller="Loan" asp-action="LoanView" class="btn btn-secondary glassBackground text-black-50" style="width:150px">Back </a>
</div>

@* <style>
.glassBackground {
    block-size: fit-content;
    background: rgba(255, 255, 255, 0.2); /* Transparent white */
    backdrop-filter: blur(10px); /* Frosted glass effect */
    -webkit-backdrop-filter: blur(10px); /* Safari support */
    border-radius: 15px;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}
</style>
*@

